{% extends 'request_form_app/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block nav_block %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Brand Icon</a>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="#">Home</a>
				<a class="nav-item nav-link" href="#">Products</a>
				<a class="nav-item nav-link" href="#">About Us</a>
				<a class="nav-item nav-link" href="#">Support</a>
			</div>
	</nav>
{% endblock %}
	
<!-- 
	<div class="container jumbotron m pt-5" style="background-color: transparent; "> -->

{% block body_block %}
		<div class="container jumbotron mt-5 mb-0" id="heroContainer">
			<h3 id="heroText">Culture Sip cares about your privacy.<br> Submit a request below and we send you your data.</h3>
		</div>
		<h2 style="text-align: center; color: white; padding-top: 50px; ">REQUEST FORM</h2>

		<div class="pt-3">
		{{form|crispy}}
		<!-- <button class="btn btn-primary" style="float:right;margin-left: 20px;width: 100px;" type="submit">Submit</button>
		<button class="btn btn-link" style="float:right;">Back</button> -->

		</div>
{% endblock %}

{% block company_name %}
	Culture Sip
{% endblock %}

{% block company_url %}
	www.culturesip.com
{% endblock %}