{% extends 'request_form_app/base.html' %}

{% block body_block %}
	<div class="container">
	<h2 class="mb-5">Thanks {{case.first_name}}, your request has been submitted!</h2>
	<div class="jumbotron">
		<h4 class="mb-5">Case Number: {{case.id}}</h4>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">First Name: {{case.first_name}}</li>
			<li class="list-group-item">Last Name: {{case.last_name}}</li>
			<li class="list-group-item">Email: {{case.email}}</li>
			<li class="list-group-item">Alternative Email: {{case.alternative_email}}</li>
			<li class="list-group-item">Address: {{case.primary_address}}</li>
			<li class="list-group-item">Address Line 2: {{case.primary_address_line_two}}</li>
			<li class="list-group-item">City: {{case.primary_city}}</li>
			<li class="list-group-item">State: {{case.primary_state}}</li>
			<li class="list-group-item">Zip: {{case.primary_zip}}</li>
		</ul>
	</div>
	</div>
{% endblock %} 