#heroContainer{
	background-color: #007dc1;
}

#heroText {
	color: white;
}

#requestForm{
	background-color: transparent;
	border:solid black thin;
}

#privacyPolicy{
	border: solid thin grey;
	background-color: white;

}

#termConditions{
	/*position: fixed;*/
	/*left:50%;
	transform: translateX(-50%);*/
	
	/*top: 50%;
    transform: translateY(-50%);*/
}