#login-container{
	height:100vh;
}

.col-6.login-col{
	background-color: #F3F5F8;
}

.jumbotron.login-jumbo{
	width: 500px;
	margin-top: 30px;
	margin:auto;
	background-color: white;
	border:1px solid #5D5D5D;
}

.login-logo{
	width: 250px;
	height: auto;
	padding-top: 200px;
	padding-bottom: 30px;
	margin: auto;
	display: block;
}

#login-image{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 200px;
  height: auto;
  padding-top: 250px;
}

#login-image-back{
	background-color: #1475BE;
	/*background: linear-gradient(0deg, rgba(20,117,190,1) 0%, rgba(47,191,248,1) 85%);*/
}