{% extends 'user_console/console_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'user_console/request_form.css' %}">
{% endblock%}

{% block main_block %}
<div class="container-fullwidth">
	<div class="container-fullwidth" id="requestform-data-container">
		<div class="jumbotron" id="requestform-data-jumbo">
			<p style="padding-bottom: 20px;"><i>Create a new Data Category</i></p>
			
			<form method="POST">
				{% csrf_token %}
				
				{{ form|crispy }}
		
				<input type="submit" name="Save">
			</form>
				
			
		</div>
		
	</div>
	
</div>
{% endblock %}