{% load staticfiles %}


<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,200," rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'user_console/user_console.css' %}">

	{% block css_block %}

	{% endblock %}

</head>
<body>


	<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl fixed-top navbar-light" style="font-weight: 300;background-color: #ffffff; border-bottom: 1px solid;">

			<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">

    			<span class="navbar-toggler-icon"></span>

  				</button> 

		    <a class="navbar-brand ml-5" href="{% url 'user_console:home' %}">
				<img src="{% static 'user_console/bh_logo_transparent_2.png' %}" class="d-none d-md-block" width="160" height="auto" alt="">
				<img src="{% static 'user_console/bh_logo_transparent_2.png' %}" class="d-md-none" width="100" height="auto" alt="">
			</a>
		  	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">

		    
			

			   

			    


				    <ul class="nav navbar-nav mr-auto ml-5 p-3">

				    
				    <li class="nav-item active mr-3">
				      	<a class="nav-link" href="{% url 'user_console:home' %}"><b>Home</b></a>
				      </li>	
				      <li class="nav-item active mr-3">
				      	<a class="nav-link" href="{% url 'user_console:request_list' %}"><b>Requests</b></a>
				      </li>

				      <li class="nav-item active mr-3">
				      	<a class="nav-link" href="{% url 'user_console:consumer_list' %}"><b>Consumers</b></a>
				      </li>


				      <li class="nav-item active mr-3">
				      	<a class="nav-link" href="{% url 'user_console:company_list' %}"><b>Companies</b></a>
				      </li>
				      <li class="nav-item dropdown active">
				      	<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Setup</a>
				      	<div class="dropdown-menu">
				      		<a class="dropdown-item" href="#">My Company</a>
				      		<a class="dropdown-item" href="{% url 'response_metadata:metadata_list' %}">Metadata Setup</a>
				      		<a class="dropdown-item" href="#">Import Response Data</a>
				      	</div>
				      </li>


				    </ul>

				    <ul class="nav navbar-nav ml-auto mr-5">
				    	<a href="{% url 'user_console:logged_out' %}">
				    		<button type="button" class="btn btn-outline-primary">Log out</button>
				    	</a>
				    </ul>
			    </div>
		</nav>


	{% block main_block %}

	{% endblock %}

</body>
</html>