{% load staticfiles %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
	<title></title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,200," rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'user_console/login.css' %}">



</head>
<body>

	{% if form.errors %}
	<p>Your username and password didn't match. Please try again.</p>
	{% endif %}

	{% if next %}
		{% if user.is_authenticated %}
		<p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
		{% else %}
		<p>Please login to see this page.</p>
		{% endif %}
	{% endif %}


	<div class="container-fullwidth">
		<div class="row" id="login-container">

			<div class="col-md-12 col-lg-7 login-col">
				<img src="{% static 'user_console/bh_logo_transparent_2.png' %}" class="login-logo" alt="Braveheart Data">
				<div class="jumbotron login-jumbo">

				<div style="margin-top: -30px">
					<form method="POST">
						{% csrf_token %}
						
						{{ form | crispy }}
						<input type="submit" class="btn btn-primary mt-5 pt-2 pb-2 btn-block" value="Login">
					</form>		
				</div>
				</div>
			</div>

			<div class="d-none d-sm-none d-md-none d-lg-block col-lg-5" id="login-image-back">

				<img src="{% static 'user_console/group_1.png' %}" id="login-image">
				<p style="text-align: center;color: white;font-size: 1.1em; padding-top: 20px;"></br>
				<span style="font-size: .8em;"><i>-George the Content Robot<span></i></p>
			</div>

		</div>
	</div>


</body>
</html>



